* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  padding: 83px 120px;
}
/* navigation style */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  list-style: none;
}
/* intro style */
.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.intro-img {
  width: 475px;
  height: 475px;
  flex-shrink: 0;
  border-radius: 475px;
  border: 3px solid var(--brand-purple-100, #f1e4ff);
}
.intro-background-img-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
.intro-background-img {
  width: 332.305px;
  height: 332.305px;
  border-radius: 332.305px;
  background: var(--brand-purple-100, #f1e4ff);
}
.main-camera {
  position: absolute;
  right: 155px;
  top: 211px;
}
.intro-head {
  width: 582px;
  height: 133px;
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px; /* 134.615% */
}
.intro-para {
  width: 505px;
  height: 60.9px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.intro-btn {
  display: inline-flex;
  padding: 10px 24px;
  align-items: center;
  border-radius: 41px;
  background: #e02c6d;
  gap: 8px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
.company-ref {
  display: flex;
  gap: 60.42px;
  justify-content: space-evenly;
  border: 0.2px solid rgba(67, 66, 66, 0.174);
  margin-top: 160px;
  padding: 50px 20px;
}
/* this is main section style */

.feature {
  padding: 200px 165px 100px;
  display: flex;
  align-items: center;
  gap: 96px;
  justify-content: space-evenly;
}
.feature-para {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 31.313rem;
  height: 5.5rem;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px; /* 175% */
}
.feature-btn {
  display: flex;
  align-items: center;
  display: inline-flex;
  padding: 10px 24px;
  gap: 8px;
  background: #e02c6d;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.feature-header {
  color: #0a0826;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 60px;
}
/* footer section */
.footer {
  background: #0a0826;
  color: white;
  height: 239px;
}
.footer-container {
  height: 139px;
  width: 262px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.footer-logo {
  margin-top: 20px;
}
.footer-header {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.copyright {
  margin-bottom: 4px;
}
.right-reserve {
  margin-bottom: 20px;
}
.products {
  width: 300px;
  height: 476px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 15px 17px 14px;
}
.products-container {
  margin: 30px 197px 174px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 329px);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    text-align: center;
  }
  .nav-list {
    gap: 10px;
  }
  .nav-heading {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
  }
  .intro-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .intro-content {
    width: 100vw;
  }
  .intro-head {
    width: 100%;
    height: auto;
    margin: auto;
    color: #3a3a3a;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .intro-para {
    width: 95%;
    height: auto;
    color: #3a3a3a;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    margin-bottom: 20px;
  }
  .intro-btn {
    width: 50%;
    margin: auto;
  }
  .intro-img {
    width: 257px;
    height: 257px;
  }
  .intro-background-img-container {
    height: 100%;
    margin: auto;
  }
  .intro-background-img {
    width: 179.794px;
    height: 179.794px;
  }
  .main-camera {
    width: 202px;
    height: 190px;
    position: static;
  }
  .intro-btn {
    margin: auto;
  }
  .company-ref {
    flex-wrap: wrap;
  }
  header {
    padding: 0%;
  }
  .feature {
    flex-direction: column-reverse;
  }
  .feature-para {
    width: 80vw;
  }
  .feature-des {
    height: 500px;
    text-align: center;
  }
  .feature-btn {
    margin-top: 81px;
  }
  .feature-img {
    width: 80vw;
  }
  .copmany-img {
    width: 40px;
    height: 25px;
  }
  .company-ref {
    gap: 50px;
  }
  .products-container {
    grid-template-columns: none !important;
    margin: 0%;
  }
}
